# https://github.com/nix-community/nix-direnv/tree/a11b96b55716070bd82dec858b53742b36350774#flakes-support
use flake

export DATABASE_URL=postgresql://$USER:postgres@localhost/axum_rest_example_dev
export RUST_LOG=axum_rest_example=trace,tower_http=trace,debug
# export SQLX_OFFLINE=true
export TEST_DATABASE_URL=postgresql://$USER:postgres@localhost/axum_rest_example_test
